JWTs containing base64 padding are erroneously accepted

JWTs where the signature is generated over a *base64*-encoded (not *base64url*-encoded) payload are erroneously accepted.

## Expected Result

These JWTs must be rejected according to several different parts of the standards.

> **If any of the listed steps fail, then the JWT MUST be rejected** -- that is, treated by the application as an invalid input.
> [...]
> 3. Base64url decode the Encoded JOSE Header **following the restriction that no line breaks, whitespace, or other additional characters have been used**.
> [...]
> 9. Otherwise, base64url decode the Message **following the restriction that no line breaks, whitespace, or other additional characters have been used**.

[RFC 7519 section 7.2](https://datatracker.ietf.org/doc/html/rfc7519#section-7.2), emphasis mine

This section also references the validation processes for JWSs and JWEs, quoted below.

> **If any of the listed steps fails, then the signature or MAC cannot be validated.**
> [...]
> 2. Base64url-decode the encoded representation of the JWS Protected Header, **following the restriction that no line breaks, whitespace, or other additional characters have been used**.
> [...]
> 6. Base64url-decode the encoded representation of the JWS Payload, **following the restriction that no line breaks, whitespace, or other additional characters have been used**.
> 7. Base64url-decode the encoded representation of the JWS Signature, **following the restriction that no line breaks, whitespace, or other additional characters have been used**.

[RFC 7515 section 5.2](https://datatracker.ietf.org/doc/html/rfc7515#section-5.2), emphasis mine

> **If any of these steps fail, the encrypted content cannot be validated.**
> [...]
> 2. Base64url decode the encoded representations of the JWE Protected Header, the JWE Encrypted Key, the JWE Initialization Vector, the JWE Ciphertext, the JWE Authentication Tag, and the JWE AAD, **following the restriction that no line breaks, whitespace, or other additional characters have been used**.

[RFC 7516 section 5.2](https://datatracker.ietf.org/doc/html/rfc7516#section-5.2), emphasis mine

Now, as to what exactly the base64url format is...

> Base64url Encoding
> Base64 encoding using the URL- and filename-safe character set defined in Section 5 of RFC 4648 [RFC4648], **with all trailing '=' characters omitted (as permitted by Section 3.2)** and without the inclusion of any line breaks, whitespace, or other additional characters.

[RFC 7515 section 2](https://datatracker.ietf.org/doc/html/rfc7515#section-2), emphasis mine

The RFC does make an exception, quoted below.

> In the general case, when assumptions about the size of transported data cannot be made, padding is required to yield correct decoded data.

[RFC 4648 section 3.2](https://datatracker.ietf.org/doc/html/rfc4648#section-3.2)

In this case, that exception does not apply because the length of the header, payload, and signature can be deduced without padding. Since padding characters are not a part of the base64url encoding, the JWT must be rejected before even checking the signature.

But that's not all. Let's now ignore the above, assume that padded JWTs can be decoded, and focus on the process for validating the signature.

> 8. Validate the JWS Signature against the JWS Signing Input `ASCII(BASE64URL(UTF8(JWS Protected Header)) || '.' || BASE64URL(JWS Payload))` in the manner defined for the algorithm being used, which MUST be accurately represented by the value of the "alg" (algorithm) Header Parameter, which MUST be present.

[RFC 7515 section 5.2](https://datatracker.ietf.org/doc/html/rfc7515#section-5.2)

This above explicitly states that the signing input must be the **base64url**-encoded header and payload.
A JWT whose signing input is base64-encoded with padding must not cryptographically validate (assuming that there's no collision), because the (undoubtedly non-standard) generating implementation is signing **with padding**, but a standard implementation must check the signature **without padding**.
So even if a padded JWT were able to make it past decoding, it should still fail on signature verification.

Instead of using a base64url-encoded signing input, PyJWT appears to use whatever encoded header and payload it's given, even if they're invalid.
The approach PyJWT uses would be fine if it only accepted JWTs that match the description quoted above, however it doesn't.

## Actual Result

JWTs with improper base64url encoding are accepted.

## Reproduction Steps

1. Generate a "JWT" as per the standard except base64url must include padding, i.e. interpreting "with all trailing '=' characters omitted" as "with all trailing '=' characters included".
2. Try to validate the "JWT" using PyJWT.

I don't currently have any examples I can share (the "JWT" I used to discover this contains sensitive information).

## System Information

```
{
  "cryptography": {
    "version": "2.8"
  },
  "implementation": {
    "name": "CPython",
    "version": "3.7.6"
  },
  "platform": {
    "release": "4.19.104-microsoft-standard",
    "system": "Linux"
  },
  "pyjwt": {
    "version": "1.7.1"
  }
}
```

## Addendum

I believe that the standard explicitly disallows the base64url-encoded parts from including any extraneous characters precisely to avoid confusion over the signing input and to not require implementations to decode and re-encode the data for the signature check, since it ensures that the start of JWT corresponds perfectly to the signing input.

If I've misinterpreted any part of the standards, please let me know.

This is still the case on the current `master` commit (`235f01c9563e407c63888795a573d0b56868e902`).

Also, while testing this, I reused an old JWT, and it seems `verify_exp` is broken on that commit.

```
>>> jwt.decode(token2, key, algorithms=["ES256"], verify_exp=False)
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/nix/store/1r1lsbrc4ngwld31pija83b7szz7zb00-python3.9-pyjwt-2.1.0/lib/python3.9/site-packages/jwt/api_jwt.py", line 129, in decode
    decoded = self.decode_complete(jwt, key, algorithms, options, **kwargs)
  File "/nix/store/1r1lsbrc4ngwld31pija83b7szz7zb00-python3.9-pyjwt-2.1.0/lib/python3.9/site-packages/jwt/api_jwt.py", line 116, in decode_complete
    self._validate_claims(payload, merged_options, **kwargs)
  File "/nix/store/1r1lsbrc4ngwld31pija83b7szz7zb00-python3.9-pyjwt-2.1.0/lib/python3.9/site-packages/jwt/api_jwt.py", line 152, in _validate_claims
    self._validate_exp(payload, now, leeway)
  File "/nix/store/1r1lsbrc4ngwld31pija83b7szz7zb00-python3.9-pyjwt-2.1.0/lib/python3.9/site-packages/jwt/api_jwt.py", line 187, in _validate_exp
    raise ExpiredSignatureError("Signature has expired")
jwt.exceptions.ExpiredSignatureError: Signature has expired
```

I no longer have the setup to test the latest version, but the lack of discussion suggests that the issue remains unresolved.