pyJWT does not support lists 

Summary.
A empty list or a list of JSON objects is valid JSON. currently trying to encode a list into JWT raises a exception. 
## Expected Result

`JWT.encode([], "secret", algorithm="HS256")` should return a valid JWT:
`eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.W10.ny0W7Pkele2S9JjQz1pcPuE-7_Jrt2VBqPEO1UnPyQg`

## Actual Result

```python
self = <jwt.api_jwt.PyJWT object at 0x1108f14d0>, payload = []
key = 'secret'
algorithm = 'HS256', headers = None, json_encoder = None

    def encode(self,
               payload,  # type: Union[Dict, bytes]
               key,  # type: str
               algorithm='HS256',  # type: str
               headers=None,  # type: Optional[Dict]
               json_encoder=None  # type: Optional[Callable]
               ):
        # Check that we get a mapping
        if not isinstance(payload, Mapping):
>           raise TypeError('Expecting a mapping object, as JWT only supports '
                            'JSON objects as payloads.')
E           TypeError: Expecting a mapping object, as JWT only supports JSON objects as payloads.
```

## Reproduction Steps

```python
import jwt
jwt.encode([], "secret")  # fail
jwt.encode([{}], "secret")  # fail
```

## System Information

    $ python -m jwt.help

```
{
  "cryptography": {
    "version": ""
  },
  "implementation": {
    "name": "CPython",
    "version": "3.7.5"
  },
  "platform": {
    "release": "19.0.0",
    "system": "Darwin"
  },
  "pyjwt": {
    "version": "1.7.1"
  }
}

```


Not sure this is something we'll want to do though. According to the spec:

> JWTs represent a set of claims as a JSON object that is encoded in a
   JWS and/or JWE structure.  This JSON object is the JWT Claims Set.
   As per Section 4 of RFC 7159 [RFC7159], the JSON object consists of
   zero or more name/value pairs (or members), where the names are
   strings and the values are arbitrary JSON values.