PyJWKClient should use "kty" not "alg" parameter

`PyJWKClient` requires keys to have the `alg` parameter, which is an *OPTIONAL* member of a JWK (see [RFC 7517 sec. 4.4](https://tools.ietf.org/html/rfc7517#section-4.4)).  

`PyJWKClient `should instead rely on the `kty` parameter to determine the type of public key.  This parameter "MUST be present in a JWK" (see [RFC 7517 sec. 4.1](https://tools.ietf.org/html/rfc7517#section-4.1)).  This would require decoupling the RSA/EC keys from the hashing algorithm used in the signature, but this is technically correct, as a single RSA key could be used to sign with RS256, RS384, and RS512.

Problems occur with `PyJWKClient` when trying to use keys from Microsoft's Active Directory OpenID keys:
[https://login.microsoftonline.com/common/discovery/keys](https://login.microsoftonline.com/common/discovery/keys).  The keys here are correct according to RFC 7517, but as previously stated, `PyJWKClient` incorrectly relies on optional parameters.

## Expected Result

I would expect `get_signing_key_from_jwt(token)` to be be usable with Microsoft's OpenID keys available above.

## Actual Result

```
PyJWKError                                Traceback (most recent call last)
<ipython-input-71-4b1b09fff47d> in <module>
     19 
     20 jwks_client = PyJWKClient(OPENID_KEYS_URI)
---> 21 k = jwks_client.get_signing_key_from_jwt(token)

.../python3.9/site-packages/jwt/jwks_client.py in get_signing_key_from_jwt(self, token)
     52         unverified = decode_token(token, options={"verify_signature": False})
     53         header = unverified["header"]
---> 54         return self.get_signing_key(header.get("kid"))

.../python3.9/site-packages/jwt/jwks_client.py in get_signing_key(self, kid)
     34 
     35     def get_signing_key(self, kid: str) -> PyJWK:
---> 36         signing_keys = self.get_signing_keys()
     37         signing_key = None
     38 

.../site-packages/jwt/jwks_client.py in get_signing_keys(self)
     21 
     22     def get_signing_keys(self) -> List[PyJWK]:
---> 23         jwk_set = self.get_jwk_set()
     24         signing_keys = []
     25 

.../python3.9/site-packages/jwt/jwks_client.py in get_jwk_set(self)
     18     def get_jwk_set(self) -> PyJWKSet:
     19         data = self.fetch_data()
---> 20         return PyJWKSet.from_dict(data)
     21 
     22     def get_signing_keys(self) -> List[PyJWK]:

.../python3.9/site-packages/jwt/api_jwk.py in from_dict(obj)
     61     def from_dict(obj):
     62         keys = obj.get("keys", [])
---> 63         return PyJWKSet(keys)
     64 
     65     @staticmethod

.../python3.9/site-packages/jwt/api_jwk.py in __init__(self, keys)
     56 
     57         for key in keys:
---> 58             self.keys.append(PyJWK(key))
     59 
     60     @staticmethod

.../python3.9/site-packages/jwt/api_jwk.py in __init__(self, jwk_data, algorithm)
     14 
     15         if not algorithm:
---> 16             raise PyJWKError("Unable to find a algorithm for key: %s" % self._jwk_data)
     17 
     18         self.Algorithm = self._algorithms.get(algorithm)

PyJWKError: Unable to find a algorithm for key: {'kty': 'RSA', 'use': 'sig', 'kid': '5Of9P5F9gCCwCmF2BOHHxDDQ-Dk', 'x5t': '5Of9P5F9gCCwCmF2BOHHxDDQ-Dk', 'n': '2y6laZzXOPwGpMOhh0RcZq-Cng12HRv4EHT_Y6w5WOuNWZxzGFjF77qfTKtp_izFIGlr0IwJnbJsDqmTfAXdDMsfRXpWE6DZ6D0s49coNgu-nEFT7UdkuyfUnfPfU8lZLLzxB4fPp0CpUZIacZWb9Ci83dkqS6yEkppftf8bZOW1Cmz6SQuBbZgDyrm7hKBK8NxmSxJvnqUN6CDdOpxJdLSvIon8EUMcA0VEhNx0acgzZmjedZJEGWO6zs8jrRROkX0_fhpjW1BP4nq5OI6JpXMRgV6LuqCdmg9s3Qvw2k27baa97pxAJprMKwBnHSLcbrjkldREZgQ9NweYbLX-JQ', 'e': 'AQAB', 'x5c': ['MIIDBTCCAe2gAwIBAgIQNmD9my1yu4hPh6X2ySAQMjANBgkqhkiG9w0BAQsFADAtMSswKQYDVQQDEyJhY2NvdW50cy5hY2Nlc3Njb250cm9sLndpbmRvd3MubmV0MB4XDTIwMTExNTE4NTMyMFoXDTI1MTExNDE4NTMyMFowLTErMCkGA1UEAxMiYWNjb3VudHMuYWNjZXNzY29udHJvbC53aW5kb3dzLm5ldDCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBANsupWmc1zj8BqTDoYdEXGavgp4Ndh0b+BB0/2OsOVjrjVmccxhYxe+6n0yraf4sxSBpa9CMCZ2ybA6pk3wF3QzLH0V6VhOg2eg9LOPXKDYLvpxBU+1HZLsn1J3z31PJWSy88QeHz6dAqVGSGnGVm/QovN3ZKkushJKaX7X/G2TltQps+kkLgW2YA8q5u4SgSvDcZksSb56lDegg3TqcSXS0ryKJ/BFDHANFRITcdGnIM2Zo3nWSRBljus7PI60UTpF9P34aY1tQT+J6uTiOiaVzEYFei7qgnZoPbN0L8NpNu22mve6cQCaazCsAZx0i3G645JXURGYEPTcHmGy1/iUCAwEAAaMhMB8wHQYDVR0OBBYEFEhEsQJa9KyDIqzLnHtB0fPwqAv2MA0GCSqGSIb3DQEBCwUAA4IBAQAl4wkCQOD4UCaiuxVCFzs8PXGxhLJJseuN4TbMxvmmzgBaRPeazEmLqvqUW/VxCAWHiCzK6nVXThpAk9SPxN37HnlLt/wzEfQTapVxTzKj5PTzsEm582dDyw+0WDdNtb37a1BoAEpv6J4zVHTQLprfx4ccCQq4m3v6IDuKHrT/U0TlQz0negsUlDr4iwr3lPCdpnbLbgki8JnP5a/Kh/XMs5qXsJRF2IHqEF+yTupEN+fpNvTItfmGAfoGm+6AIBWhH+SEe6sshDpW7rngVJoLAxCrqDlzrXae1pq1pyvfbeMtHkjY7yl74wdFcDD/J0gOA2u30X/2Ld+5AglZIlBm']}
```

## Reproduction Steps

```python

import jwt
from jwt import PyJWKClient

OPENID_KEYS_URI = 'https://login.microsoftonline.com/common/discovery/keys'
# This token `kid` is not present in the above URI, but a valid token is required by `get_signing_key_from_jwt()`
# I cannot include my own *valid* token, for obvious reasons
# This token is an example from https://docs.microsoft.com/en-us/azure/active-directory/develop/access-tokens
token = "eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsImtpZCI6Imk2bEdrM0ZaenhSY1ViMkMzbkVRN3N5SEpsWSJ9.eyJhdWQiOiI2ZTc0MTcyYi1iZTU2LTQ4NDMtOWZmNC1lNjZhMzliYjEyZTMiLCJpc3MiOiJodHRwczovL2xvZ2luLm1pY3Jvc29mdG9ubGluZS5jb20vNzJmOTg4YmYtODZmMS00MWFmLTkxYWItMmQ3Y2QwMTFkYjQ3L3YyLjAiLCJpYXQiOjE1MzcyMzEwNDgsIm5iZiI6MTUzNzIzMTA0OCwiZXhwIjoxNTM3MjM0OTQ4LCJhaW8iOiJBWFFBaS84SUFBQUF0QWFaTG8zQ2hNaWY2S09udHRSQjdlQnE0L0RjY1F6amNKR3hQWXkvQzNqRGFOR3hYZDZ3TklJVkdSZ2hOUm53SjFsT2NBbk5aY2p2a295ckZ4Q3R0djMzMTQwUmlvT0ZKNGJDQ0dWdW9DYWcxdU9UVDIyMjIyZ0h3TFBZUS91Zjc5UVgrMEtJaWpkcm1wNjlSY3R6bVE9PSIsImF6cCI6IjZlNzQxNzJiLWJlNTYtNDg0My05ZmY0LWU2NmEzOWJiMTJlMyIsImF6cGFjciI6IjAiLCJuYW1lIjoiQWJlIExpbmNvbG4iLCJvaWQiOiI2OTAyMjJiZS1mZjFhLTRkNTYtYWJkMS03ZTRmN2QzOGU0NzQiLCJwcmVmZXJyZWRfdXNlcm5hbWUiOiJhYmVsaUBtaWNyb3NvZnQuY29tIiwicmgiOiJJIiwic2NwIjoiYWNjZXNzX2FzX3VzZXIiLCJzdWIiOiJIS1pwZmFIeVdhZGVPb3VZbGl0anJJLUtmZlRtMjIyWDVyclYzeERxZktRIiwidGlkIjoiNzJmOTg4YmYtODZmMS00MWFmLTkxYWItMmQ3Y2QwMTFkYjQ3IiwidXRpIjoiZnFpQnFYTFBqMGVRYTgyUy1JWUZBQSIsInZlciI6IjIuMCJ9.pj4N-w_3Us9DrBLfpCt"

jwks_client = PyJWKClient(OPENID_KEYS_URI)
k = jwks_client.get_signing_key_from_jwt(token)
```

Note: the above code will re-produce the exception above, which occurs with a newer, valid token that uses a current `kid`.  I would expect the code above to correctly produce error `PyJWKClientError('Unable to find a signing key that matches: "i6lGk3FZzxRcUb2C3nEQ7syHJlY"')`.

## System Information

    $ python -m jwt.help

```
{
  "cryptography": {
    "version": "3.3.1"
  },
  "implementation": {
    "name": "CPython",
    "version": "3.9.1"
  },
  "platform": {
    "release": "3.10.0-957.27.2.el7.x86_64",
    "system": "Linux"
  },
  "pyjwt": {
    "version": "2.0.0"
  }
}
```

nice catch, thanks for reporting.

here's some prior art we can use as reference https://github.com/panva/jose/blob/master/src/jwks/remote.ts

If anyone else is hit by this and - like me :wink: - cannot wait for the proper fix, the following is a possible (admittedly very dirty) workaround:
```python
from jwt import PyJWKClient as origPyJWKClient
from jwt.exceptions import PyJWKClientError

class PyJWKClient(origPyJWKClient):
    def fetch_data(self):
        data = super().fetch_data()
        for key in data.get("keys", []):
            if "alg" not in key:
                if key["kty"] == "RSA":
                    key["alg"] = "RS256"
                # add more mappings here, if your IdP happens to use something else
                else:
                    raise PyJWKClientError("unsuported jwk kty")
        return data
```

This will obviously break if the IdP (e.g. Azure) decides to start using a different algorithm for RSA keys, but it should be enough to get the basics working in the meantime. Of course: YMMV.

More like:
* `"kty": "EC", "crv": "P-256"` → `ES256`
* (smth for RSA)

Is the problem here that `class PyJWK` is representing a key and the algorithm used for it, whearas it should only be the key. Maybe pyjwt could provide a `from_jwk` function that delegates to the `Algorithm.from_jwk` based on `kty` etc?