Payload missing padding (==)

The payload is missing padding, removing the last } from json payload.

Example:

#!/bin/sh

token=$(python << END
import jwt
print jwt.encode({'clientId': 'XXX', 'exp' : 1426505519 }, 'secret')
END)

payload=$(echo $token | cut -d'.' -f 2)
echo $(echo ${payload} |base64 --decode)


Part of the spec requires base64 URL safe encoding, that means omitting `=` padding characters. So if you're decoding the payload yourself you have to take that into consideration. This library already does that for you.
 
>   Base64url Encoding  For the purposes of this specification, this term
      always refers to the URL- and filename-safe Base64 encoding
      described in RFC 4648 [RFC4648], Section 5, with the (non URL-
      safe) '=' padding characters omitted, as permitted by Section 3.2.
      (See Appendix C of [JWS] for notes on implementing base64url
      encoding without padding.)